THIS IS THE TEAM PAGE

<h1> <%= @team.name %> </h1>

<h2>Team Motto: <%= @team.motto %> </h2>

<% @heroes.each do |hero|
  <h2>Hero Name:      <%= hero.name %> </h2>
  <p> Hero Power:     <%=  %> </p>
  <p> Hero Biography: <%=  %> </p>
  <h2>Hero Name:      <%=  %> </h2>
  <p> Hero Power:     <%=  %> </p>
  <p> Hero Biography: <%=  %> </p>
  <h2>Hero Name:      <%=  %> </h2>
  <p> Hero Power:     <%=  %> </p>
  <p> Hero Biography: <%=  %> </p>


  
  <h3>Hero 1</h3>
  <label for="member1_name">Hero's Name:</label>
  <input type="text" name="team[member][][name]" id="member1_name" />
  </br>
  <label for="member1_biography">Hero's Power:</label>
  <input type="text" name="team[member][][power]" id="member1_power" />
  </br>
  <label for="member1_bio">Hero's Biography:</label>
  <input type="text" name="team[member][][biography]" id="member1_bio" />

